<div class="footerDIV">
	<div class="footerDIVLogo">
		<img src="https://bock-drauf.com/wp-content/uploads/2019/09/amazon-logo-1024x576.png"/>
	</div>
</div>

<style type="text/css">
	.footerDIV {
	width: 100%;
	background-color: #414854;
	clear: both;
	position: flex;
	height: 65px;
	margin-top: -56px;
	}
	/* LOGO PART */
	.footerDIVLogo {
	width: 20%;
	height:80%;
	margin-left: auto;
	margin-right: auto;
	}
	.footerDIVLogo > img {
	height: 80%;
	position: relative;
	top:20%;
	left:40%;
	margin-left: auto;
	margin-right: auto;
	}
</style>