<div class="headerDIV">
    <div class="headerDIVLogo">
        <img style="cursor:pointer"onclick="window.open('/', '_self')" src="https://bock-drauf.com/wp-content/uploads/2019/09/amazon-logo-1024x576.png">
    </div><div class="headerDIVSearch">
        <input placeholder="Suche" class="vertical-center"></input
        ><button class="vertical-center"><i class="material-icons">search</i></button>
    </div><div class="headerDIVButton">
        <% if(user){ %>
            <button class="vertical-center" id="headerBtnLogout" onclick="window.open('/logout', '_self')">Log out</button>
            <button class="vertical-center" onclick="window.open('/account', '_self')">Ihr Konto</button>
        <%} else{%>
            <button class="vertical-center" onclick="window.open('/register', '_self')">Registrieren</button>
            <button class="vertical-center" onclick="window.open('/login', '_self')">Login</button>
        <% } %>
    </div>
</div>