<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
    <div stlye="height: 100px">
        <h1 style="color:rgb(6, 170, 6)" class="text-center">Ihre Bestellung wurde in Auftrag gegeben!</h1>
        <h3 class="text-center">Trackingnummer: <label style="color:rgb(6, 156, 170)"><%= trackingnumber %></label></h3>
        <a class="text-redirect text-center" href="/">Zurück zur Startseite</a>
    </div>
    
</body>
</html>